<form class="form">
  <div class="form-group">
    <label for="task">Title</label>
    {{input type="text" name="task" value=model.title class="form-control" placeholder="Add Task..."}}
    <!-- <input type="text" name="titleTask" class="form-control" placeholder="Add Task..."> -->
  </div>
  <div class="form-group">
    <label for="dueDate">Due Date</label>
    {{input type="date" name="dueDate" value=(format-date model.date true) class="form-control"}}
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    {{textarea name="description" value=model.description class="form-control" placeholder="Describe Task..."}}
  </div>
  <button {{action 'editTask' model.id}} type="button" name="button" class="btn btn-primary">Submit</button>
</form>
